.notesContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: start;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 1px #eee;
    border: 1px solid #eee;
    font-size: 16px;
}
.name{
    color: red;
}
.email{
    color: rgb(161, 14, 14);
}
.note{
    margin-top: 10px;
}
.date{
    font-size: 12px;
}
